*{
    background-color: #333;
    margin: 0;
    font-family: "Open Sans";
}

.titulo{
    font-family: "Manufacturing Consent";
    font-size: 80px;
}

header{
    height: 100px;
}

.espaciador{
    padding-bottom: 100px;
}

.tatuajes{
    margin-top: 10px;
}